.main {
    display: grid;
    grid-template-columns: auto;
    padding: 0px;
    margin: 1rem;

}

.box-1 {
    border-style: solid;
    border-color: rgb(188, 228, 10);

}
.box-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(79, 14, 231);

}
.box-3 {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: rgb(20, 241, 49);
    margin: 0;

}