.contact-card {
    /* background-color: #F8F9FA; */
    color: rgb(87, 92, 87);



    width: 500px;
    height: 400px;

    padding: 20px;


}

.light-grey-button {
    background-color: #F8F9FA !important; /* Use !important if necessary */
    border-color: lightgrey !important;
    color: black !important; /* Optional: change text color for better contrast */
  }
  