/* Header styles */
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensures the body takes full viewport height */
}

.header {
    background-color: #2f3fcf;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Styles for the main content */
.main {
    flex: 1;
    /* This ensures the main content takes up all the available space */
    padding: 20px;
    /* Optional padding for the main content */
}

/* Footer styles */
.footer {
    background-color: #14a53f;
    color: rgb(235, 4, 4);
    text-align: center;
    padding: 10px;
    /* Sticky footer */
    position: relative;
    bottom: 0;
    width: 100%;
}