/* Header styles */
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensures the body takes full viewport height */
    
}

.header {
    background-color: #F8F9FA;
    color: rgb(119, 119, 122);
    text-align: center;
    padding: 10px;
    
}

/* Styles for the main content */
/* .main {
    background-color: #FFFFFF;
    
    
    
} */

/* Footer styles */
.footer {
    background-color: #F8F9FA;
    color: rgb(235, 4, 4);
    text-align: center;
    padding: 10px;
    /* Sticky footer */
    position: relative;
    bottom: 0;
    width: 100%;
    
}